/* /------------------------------------------------*Landing page*---------------------------------------/ */
.landing-page-main-card {
    background-color: rgb(128, 0, 0, 0.5);
    margin-top: 10%;
    margin-left: 15% !important;
    margin-right: 15% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    border-radius: 1em;
    text-align: center;
}

.landing-page-row {
    justify-content: center;
    align-items: center;
}

.landing-page-card-body {
    background-color: rgb(221, 221, 221);
}

.landing-page-proceed-btn {
    background-color: #800000 !important;
    border: none !important;
}

.landing-page-proceed-btn:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 860px) {
    .landing-page-row {
        display: block !important;
    }
}

@media screen and (max-width: 795px) {
    body {
        height: 100% !important;
    }
}

/* <!----------------------------------------Signup styling------------------------------------------------ */
/* Reset styles */
html,
body,
body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    background-color: #dddddd;
}
.container {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 0px;
}
.Signin-Signup-wrapper {
    height: 700px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* background-color: rgba(246, 213, 213, 0.8)!important; */
    background-color: rgba(247, 155, 157, 0.5) !important;
    -webkit-animation: bummer 2s;
    animation: zoomIn 2s;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes zoomIn {
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes zoomIn {
    100% {
        transform: scale(1, 1);
    }
}
/* Nav buttons */
.signinup-navbuttons {
    width: 100%;
    height: 100px;
    padding-top: 0px;
    opacity: 0.9;
    margin-bottom: 3em;
    font-size: 14px;
    font-weight: bold;
}
button {
    font-size: 1.5em;
    /* border:0px; */
    cursor: pointer;
}
/* form styling */
.form-group input {
    width: 100%;
    height: 40px;
    /*padding-left: 15px; */
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 10px;
    background: rgba(255, 255, 255);
}
.form-group {
    /* padding-left: 65px; */
    padding-right: 25px;
    padding-left: 25px;
}
/*Form positioning and animation */

form#Signupform {
    top: -560px;
    position: relative;
}

form,
.forgot-panel {
    position: relative;
    transition: all 0.2s ease;
}
#SigninBtn,
#SignupBtn {
    transition: all 0.2s ease;
}
.signup-btn {
    color: #fff;
    background-color: #800000 !important;
    font-weight: bold;
    border: none !important;
}
.signup-btn:hover {
    transform: scale(1.1);
    background-color: #800000 !important;
}
.btnlinkedinsignup {
    background-color: #0077b5 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
    border: none !important;
}
.btnlinkedinsignup:hover {
    background-color: #0077b5;
    transform: scale(1.1);
    border: none;
}

.btngooglesignup {
    background-color: #dd4b39 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
    border: none !important;
}
.btngooglesignup:hover {
    transform: scale(1.1);
    background-color: #dd4b39 !important;
}

.btnfbsignup:hover {
    transform: scale(1.1);
    background-color: #3b5998 !important;
}

.btnfbsignup {
    background-color: #3b5998 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
    border: none !important;
}

.btn {
    text-transform: none;
}

.signupparentpwd {
    position: relative;
}

.signupchildpwd {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1vh;
    padding-right: 10%;
    color: #800000;
}

@media screen and (max-width: 460px) {
    .Signin-Signup-wrapper {
        display: block !important;
        width: 100%;
    }
    .btnfbsignup,
    .btngooglesignup {
        margin-top: 5px !important;
        width: 55% !important;
    }
    .btnfbsignup {
        margin-left: 40px !important;
    }
    .btnlinkedinsignup {
        margin-left: 20px !important;
        width: 58% !important;
    }
    .btngooglesignup {
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    form#Signupform {
        top: -670px !important;
        position: relative;
    }
    .form-control {
        width: 200px !important;
        margin-left: none !important;
    }
    .signupterms {
        width: 200px !important;
        margin-left: none !important;
    }
    .form-group {
        padding-left: 0px !important;
    }
}

/* /------------------------------------*Signin styling*-------------------------------------------------/ */
.container {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 0px;
}
/* Nav buttons */
.signinup-navbuttons {
    width: 100%;
    height: 100px;
    padding-top: 0px;
    opacity: 0.9;
    margin-bottom: 3em;
    font-size: 14px;
    font-weight: bold;
}
button {
    font-size: 1.5em;
    border: 0px;
    cursor: pointer;
}

/* form styling */
.form-group input {
    width: 100%;
    height: 40px;
    /*padding-left: 15px; */
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 10px;
    background: rgba(255, 255, 255);
}
.form-group {
    /* padding-left: 65px; */
    padding-right: 25px;
    padding-left: 25px;
    /* align-items: center; */
}
/*Form positioning and animation */

form#SigninForm {
    top: -560px;
    position: relative;
}

form,
.forgot-panel {
    position: relative;
    transition: all 0.2s ease;
}
#SigninBtn,
#SignupBtn {
    transition: all 0.2s ease;
}
.signin-btn {
    color: #fff;
    background-color: #800000 !important;
    /* border-color: #0d6efd; */
    font-weight: bold;
    border: none !important;
}
.signin-btn:hover {
    transform: scale(1.1);
    background-color: #800000 !important;
}
.btnlinkedinsignin {
    background-color: #0077b5 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
}

.btnlinkedinsignin:hover {
    background-color: #0077b5 !important;
    transform: scale(1.1);
    border: none;
}

.btngooglesignin {
    background-color: #dd4b39 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
    border: none !important;
}

.btnfbsignin {
    background-color: #3b5998 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Century Gothic";
}

.btngooglesignin:hover {
    transform: scale(1.1);
    background-color: #dd4b39 !important;
}

.btnfbsignin:hover {
    transform: scale(1.1);
    background-color: #3b5998 !important;
}
.btn {
    text-transform: none;
}
.signinparentpwd {
    position: relative;
}

.signinchildpwd {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1vh;
    padding-right: 1vw;
    color: #800000;
}

.RedirectResetPassword {
    font-weight: bold;
    color: #800000;
    cursor: pointer;
    margin-top: 15px !important;
}

@media screen and (max-width: 460px) {
    .Signin-Signup-wrapper {
        display: block !important;
        width: 100%;
    }
    .btnfbsignin,
    .btngooglesignin {
        margin-top: 5px !important;
        width: 55% !important;
    }
    .btnfbsignin {
        margin-left: 40px !important;
    }
    .btnlinkedinsignin {
        margin-left: 20px !important;
        width: 58% !important;
    }
    .btngooglesignin {
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    form#SigninForm {
        top: -670px !important;
        position: relative;
    }
    .form-control {
        width: 200px !important;
        margin-left: none !important;
    }
    .signinterms {
        width: 200px !important;
        margin-left: none !important;
    }
    .form-group {
        padding-left: 0px !important;
    }
}

/* <!-------------------------------------------- reset password page---------------------------------------- */

.reset-password-card-title,
.reset-password-card-text,
.reset-password-card-input,
.reset-password-card-button,
.reset-password-card-alert {
    font-family: "Open Sans" !important;
}

/* Setting heading font size to 36 */
.reset-password-card-title {
    font-size: 36px;
}

/* Setting font size for text in the card */
.reset-password-card-text {
    font-size: 16px;
    padding-bottom: 15px;
}

/* Positioning the card */
.reset-password-card {
    background-color: rgba(247, 155, 157, 0.5) !important;
    max-width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

/* Positioning the input field in the card */
.reset-password-card-input {
    max-width: 60%;
    margin-left: 15%;
}

/* Media query for displaying input field and button in block format */
@media screen and (max-width: 750px) {
    .reset-password-card {
        margin-left: 5%;
        max-width: 90%;
        padding-bottom: 15px;
    }
    .reset-password-card-input-group {
        display: block !important;
    }
    .reset-password-card-input {
        width: 100% !important;
        margin-left: 20% !important;
    }
}

/* Styling of div tag that controls when to show alert tag */
.reset-password-alert-condition {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Styling the alert */
.reset-password-card-alert {
    width: fit-content;
    position: absolute;
    margin-top: 10px !important;
    top: 50%;
    padding: 0.5rem 0.5rem !important;
    background-color: #f6d5d5 !important;
    font-size: 16px;
    color: #f33332 !important;
}

/* Styling the button */
.reset-password-card-button {
    background-color: #800000 !important;
    border: none !important;
}

/* /------------------------------------*Dasboard Styling*-------------------------------------------------/ */

.bg-dark {
    color: #fcebeb !important;
    background-color: black !important;
}

nav.red-font a {
    color: #fcebeb !important;
}

nav.red-font a:hover {
    color: #d40000 !important;
}

.fadein-animation1 {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bg-light-jobverse {
    background-color: #fcebeb !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
a.red-font:hover {
    color: #3a3a3a;
}

nav {
    background-color: black !important;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 44px !important;
}
h2 {
    font-size: 36px !important;
}
h3 {
    font-size: 28px !important;
}
h4 {
    font-size: 20px !important;
    background-color: #fcebeb !important;
}
button,
meta {
    font-size: 14px !important;
}
p {
    font-size: 16px !important;
}

.red-font {
    color: #d40000;
}
.img-banner {
    border-radius: 20px !important;
}

@media (min-width: 700px) {
    .img-banner {
        width: 100%;
        height: 500px;
        margin: 25px;
    }
}

@media (max-width: 700px) {
    .img-banner {
        width: 100%;
        height: 100%;
    }
}
